VITE_FIREBASE_API_KEY=AIzaSyD1P2d9zM_oFb77oQ3-5iAKnlye6aIKQ0Y
VITE_FIREBASE_AUTH_DOMAIN=music-mocosn-in.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://music-mocosn-in-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=music-mocosn-in
VITE_FIREBASE_STORAGE_BUCKET=music-mocosn-in.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=111966263944
VITE_FIREBASE_APP_ID=1:111966263944:web:53fb17808ae03282f95d3d
VITE_FIREBASE_MEASUREMENT_ID=G-XXXXXXXXXX

VITE_CLOUDINARY_CLOUD_NAME=dpgyfh39j
VITE_CLOUDINARY_UPLOAD_PRESET=mocoplayer-slider

